html, body{padding:0px; margin:0px; height:100%; width:100%; font-family: 'Montserrat', sans-serif; }
h1{font-size: 2rem;}
h1, h2, h3, h4{font-family: 'Russo One', sans-serif;}

.alert{width: 90%; font-family: 'Montserrat';}
.alert a{color: #0f5132; }
.modal .modal-content{width: 100%; position: relative;}
.modal .modal-content button{border: 0px;
    background-color: transparent;
    position: absolute;
    /* bottom: -13px; */
    right: -4px;}
.modal .modal-content button img{max-width: 30px;}

.modal#memorygameid .modal-body{text-align: center;}
.modal#memorygameid #memorygameredirect{padding: 0px 30px 10px;}
.modal#modalMatch .modal-body{text-align: center;}
.modal#modalMatch .modal-body .notes{color: #FFC312;}
.modal#modalMatch .modal-body .nama{color: #000000; font-weight: bold; text-transform: capitalize; font-size: 1.75rem;}
.modal#modalMatch .modal-body .kelas{color: #414141; font-size: 0.7rem; text-transform: uppercase; font-weight: bold;}

.mw-600{max-width: 600px;}
.mw-800{max-width: 800px;}
.minheight{min-height: 100%; height: 100%; overflow: scroll;}
.minh{min-height: 100%;}
.bg-red{background-color: #ED1B2F !important;}

.btn{background-color: #FFC312; font-family: 'Russo One', sans-serif; color: #000; font-size: 1.3rem; border: 5px solid #000; border-radius: 8px; padding-top: 8px; padding-bottom: 8px;display: block; width: 100%; position: relative; text-transform: uppercase;}
.btn-round{border-radius: 30px;}
.btn:before{content: ""; border-radius: 6px; border-top: 4px solid rgba(255,255,255,0.5); position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;}
.btn:after{content: ""; border-radius: 3px; border-bottom: 3px solid rgba(50,50,50,0.5); position: absolute; width: 100%; height: 100%; left: 0px; bottom: 0px;}
.btn.btn-round:before{content: ""; border-radius: 6px; border-top: 4px solid rgba(255,255,255,0.5); position: absolute; width: 85%; height: 100%; left: 50%; transform: translateX(-50%); top: 0px;}
.btn.btn-round:after{content: ""; border-radius: 3px; border-bottom: 3px solid rgba(50,50,50,0.5); position: absolute; width: 85%; height: 100%; left: 50%;  transform: translateX(-50%); bottom: 0px;}
.btn-big{font-size: 1.5rem;}
.btn-small{font-size: 0.8rem; display: inline;}
.btn-red{background-color: #ED1B2F; color: #FFF;}
.btn-grey{background-color: #D1D3D4}

.form-control{border-radius: 0px; height: 40px; background-color: #F0EEEF; border: 0px;}
.form-control ~ .input-group-text{border-radius: 0px; border: 0px;}
.form-control:focus{border-color: #ED1B2F; box-shadow: 0 0 0 .15rem rgba(237,27,47,.50);}

.homepage{background-color: #FFF;}
.homepage .img-logo {max-width: 290px; padding-bottom: 30px;}
.homepage .img-logo-bottom {max-width: 140px; padding-bottom: 30px; padding-top: 30px;}
.homepage h1{text-align: center; color: #FFF; padding-top: 30px; font-weight: bolder;}
.homepage p{color: #FFF;}
.homepage .links{color: #FFF; font-size: 0.9rem;}
.homepage .links a{color: #FFF; font-size: 0.9rem;}
.homepage .cta-area{padding: 0px 30px;}
.homepage .cta-area a{background-color: #FFC312; font-family: 'Russo One', sans-serif; color: #000; font-size: 1.3	rem; border: 5px solid #000; border-radius: 8px; padding-top: 8px; padding-bottom: 8px;display: block; width: 100%; position: relative;}
.homepage .cta-area a:after{content: ""; border-radius: 8px; border-top: 5px solid rgba(255,255,255,0.5); position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;}

.auth-area{background-image: url(../images/top-frame.jpg); background-repeat: no-repeat; background-position: top center; min-height: 100%;}
.auth-area .card{border: 0px; background-color: transparent;}
.auth-area .card .card-body{border: 0px;}
.auth-area .card .card-body .links{font-size: 0.9rem;}
.auth-area .card .card-body .links a{color: #000;}
.auth-area .card .card-body .form-group label{font-size: 12px;}
.auth-area .card .card-body .cta-area{margin-top: 20px; text-align: center;}
.auth-area .card .card-body .cta-area button{background-color: #FFC312; font-family: 'Russo One', sans-serif; color: #000; font-size: 1.3	rem; border: 5px solid #000; border-radius: 8px; padding-top: 8px; padding-bottom: 8px;display: block; width: 100%; position: relative;}
.auth-area .card .card-body .cta-area button:after{content: ""; border-radius: 8px; border-top: 5px solid rgba(255,255,255,0.5); position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;}
.auth-area a{color: #FFF; text-decoration: underline;}

.login-area{background-color: #ED1B2F; min-height: 100%;}
.login-area .card{border: 0px; background-color: transparent;}
.login-area .card h1{color: #FFF;}
.login-area .card .text-info{color: #FFF !important; font-size: 0.9rem;}
.login-area .card .card-body{border: 0px;}
.login-area .card .card-body .links{font-size: 0.9rem;}
.login-area .card .card-body .links a{color: #000;}
.login-area .card .card-body label{color: #FFF;}
.login-area .card .card-body .form-group label{font-size: 12px;}
.login-area .card .card-body .cta-area{margin-top: 20px; text-align: center;}
.login-area .card .card-body .cta-area{color: #FFF;}
.login-area .card .card-body .cta-area button{background-color: #FFC312; font-family: 'Russo One', sans-serif; color: #000; font-size: 1.3	rem; border: 5px solid #000; border-radius: 8px; padding-top: 8px; padding-bottom: 8px;display: block; width: 100%; position: relative;}
.login-area .card .card-body .cta-area button:after{content: ""; border-radius: 8px; border-top: 5px solid rgba(255,255,255,0.5); position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;}
.login-area a{color: #FFF; text-decoration: underline;}
.login-text-info{color: #FFF}

.dashboard{ background-color: #ea2117;}
.dashboard h1{color: #FFF; text-transform: capitalize; margin-bottom: 30px;}
.dashboard .badge{background-color: #FFF; border: 3px solid #000; border-radius: 25px; color: #000000; font-family: 'Russo One', sans-serif; font-weight: 300; font-size: 1rem; padding: 4px 10px 3px 5px; position: relative;}
.dashboard .badge-area .badge{margin-left: 5px;}
.dashboard .badge-area .badge:first-child{padding-left: 40px; padding-right: 30px; margin-left: 0px;}
.dashboard .badge img.small-badge{max-width: 30px; padding-right: 10px; margin-top: -1px;}
.dashboard .badge img.medium-badge{max-width: 45px; padding-right: 10px; position: absolute; left: -10px; top: -5px;}
.dashboard .badge img.medium-badge-right{max-width: 25px; position: absolute; right: -10px; top: 0px;}
.dashboard .rider-image{text-align: center; margin-bottom: 5px;}
.dashboard .rider-image .photo img{max-width: 150px;}
.dashboard .rider-image .name{color: #FFF; text-align: center; font-size: 1.5rem; text-transform: capitalize; font-family: 'Montserrat';}

.add-life{background-color: #ea2117; min-height: 100%;}
.add-life h1{color: #FFF; padding-top: 15px; padding-bottom: 15px;}
.add-life .item{ padding: 15px; padding-bottom: 0PX;}
.add-life .item a{background-color: #FFF; display: block; padding: 15px;}
.add-life .item .item-share{background-color: #FFF; font-family: 'Russo One', sans-serif; color: #000; font-size: 1.3	rem; border: 5px solid #000; border-radius: 8px; padding-top: 15px; padding-bottom: 15px;display: block; width: 100%; position: relative; text-transform: uppercase; }
.add-life .item .item-share a{padding: 0px; background-color: transparent;}
.add-life .item .item-share a img{width: 40px;}
.add-life .item  .texting h5{background-color: red; border-radius: 10px; font-size: 1rem; display: inline-block; padding: 5px 15px; border: 2px solid #000; color: #FFF;}
.add-life .item  .texting .card-text{font-size: 13px;}

.select-class-rider{background-color: #ea2117; text-align: center;}
.select-class-rider .card{border: 3px solid #000; margin-bottom: 20px; position: relative;}
.select-class-rider .card.not-active:after{content: ""; width: 100%; height: 100%; background-color: rgba(0,0,0,50%); position: absolute; top: 0px; left: 0px;}
.select-class-rider .item .card-body{padding-bottom: 0px;}
.select-class-rider .item .card-body img{}
.select-class-rider .item .card-body p{text-transform: uppercase; padding-bottom: 0px; margin-bottom: 0px; font-family: 'Russo One', sans-serif; font-size: 1rem; height: 150px; display: flex; justify-content: center; align-items: center;}
.select-class-rider .item .cta-area a{margin-bottom: -25px; max-width: 90%; z-index: 9;}
.select-class-rider .item .cta-area img{max-width: 30px; padding-right: 10px;}

.modal.select-rider .modal-content{overflow: visible;}
.modal.select-rider .modal-content .modal-body{overflow: visible;}
.modal.select-rider .modal-content .modal-body .ico-close{top: -13px; right: -13px;z-index: 9;}
.modal.select-rider .carousel-item .card{border: 0px;}
.modal.select-rider .card-body{padding: 0px 30px 30px 30px;}
.modal.select-rider .card-details{text-align: left;}
.modal.select-rider .card-details .name{font-family: 'Montserrat'; font-size: 20px; font-weight: bold; text-transform: uppercase; text-align: center;}
.modal.select-rider .card-details .age{font-family: 'Montserrat'; font-size: 12px; font-weight: bold; text-transform: uppercase; text-align: center;}
.modal.select-rider .card-details .achievement{font-size: 12px; padding-top: 15px;}
.modal.select-rider .card-details .achievement ul{padding-left: 15px;}
.modal.select-rider .card-details .benefit{display: flex; justify-content: center;}
.modal.select-rider .card-details .benefit img{height: 25px; padding-left: 10px;}
.modal.select-rider .card-details .benefit-details{font-size: 10px; margin-bottom: 20px; padding-top: 10px;}
.modal.select-rider .slick-slider button{z-index: 9999; background-color: #FFC312; width: 40px; height: 40px; border-radius: 50%;color: #FFF; border: 2px solid #000}
.modal.select-rider .slick-slider button.slick-disabled{background-color: #CCC;}
.modal.select-rider .slick-slider button.slick-disabled:hover{cursor: default;}
.modal.select-rider .slick-slider button.slick-prev{top: 370px; left: -10px;}
.modal.select-rider .slick-slider button.slick-next{top: 370px; left: auto; right: -10px; }
.modal.select-rider .slick-slider .slick-prev::before, .modal.select-rider .slick-slider .slick-next::before{color: #000; font-size: 12px; font-family: 'Russo One'; opacity: 1;}
.modal.select-rider .slick-slider .slick-prev::before{content: "PREV"; }
.modal.select-rider .slick-slider .slick-next::before{content: "NEXT"; }

.modal-header{padding: 5px 10px;}
.modal-header h5.modal-title{font-weight: bold; font-size: 1.1rem;}
#clueModal.modal .modal-content button{right: 2px;}

.modal-leaderboard {}
.modal-leaderboard .modal-title{background-color: #ED1B2F; font-family: 'Russo One', sans-serif; color: #FFF; font-size: 1.2rem; border: 3px solid #000; border-radius: 8px; padding-top: 8px; padding-bottom: 8px;display: block; width: 100%; position: relative; text-transform: uppercase;; text-align: center; margin-top: -40px; margin-bottom: 10px;}
.modal-leaderboard .nav-tabs .nav-link{border: 0px; border-bottom: 3px solid #E0DDDD; color: #4a4a4a;}
.modal-leaderboard .nav-tabs .nav-link.active{border: 0px; border-bottom: 3px solid #ED1B2F;}
.modal-leaderboard .modal-content .content-list .nav-item {font-size: 14px;}
.modal-leaderboard .modal-content .tab-content{font-size: 14px; font-weight: lighter;}
.modal-leaderboard .modal-content .tab-content table tr td, .modal-leaderboard .modal-content .tab-content table tr th{border: 0px;}
.modal-leaderboard .modal-content .tab-content table tr th{border: 0px; border-bottom: 1px solid #000; border-top: 1px solid #FFF;}
.modal-leaderboard .modal-content button{position: relative; border: 5px solid #000; background-color: #FFC312;}

.modal-video .modal-header{border: 0px;}
.modal-video .modal-header{text-align: center; display: block;}
.modal-video .modal-header .modal-title{text-align: center; color: #FFC312;}
.modal-video .modal-body{text-align: center; color: #000; font-weight: bold;}
.modal-video .modal-footer{border: 0px;s}

.memory-game{min-height: 100%; padding-bottom: 150px;}
.modal.memory-game .modal-content .modal-body .ico-close{top: -13px; right: -13px;z-index: 9;}

