html, body{padding:0px; margin:0px; height:100%; width:100%; font-family: 'Questrial', sans-serif; }

h1{font-size: 2rem;}
h1, h2, h3, h4{font-family: 'Russo One', sans-serif;}

.mw-600{max-width: 600px;}
.mw-800{max-width: 800px;}
.bg-red{background-color: #ED1B2F !important;}

.btn{background-color: #FFC312; font-family: 'Russo One', sans-serif; color: #000; font-size: 1.3	rem; border: 5px solid #000; border-radius: 8px; padding-top: 8px; padding-bottom: 8px;display: block; width: 100%; position: relative; text-transform: uppercase;}
.btn:before{content: ""; border-radius: 6px; border-top: 4px solid rgba(255,255,255,0.5); position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;}
.btn:after{content: ""; border-radius: 3px; border-bottom: 3px solid rgba(50,50,50,0.5); position: absolute; width: 100%; height: 100%; left: 0px; bottom: 0px;}
.btn-big{font-size: 1.5rem;}
.btn-small{font-size: 0.8rem; display: inline;}
.btn-red{background-color: #ED1B2F; color: #FFF;}
.btn-grey{background-color: #D1D3D4}

.form-control{border-radius: 0px; height: 40px; background-color: #F0EEEF; border: 0px;}
.form-control ~ .input-group-text{border-radius: 0px; border: 0px;}
.form-control:focus{border-color: #ED1B2F; box-shadow: 0 0 0 .15rem rgba(237,27,47,.50);}

.homepage{background-color: #FFF;}
.homepage .img-logo {max-width: 290px; padding-bottom: 30px;}
.homepage .img-logo-bottom {max-width: 140px; padding-bottom: 30px; padding-top: 30px;}
.homepage h1{text-align: center; color: #FFF; padding-top: 30px; font-weight: bolder;}
.homepage p{color: #FFF;}
.homepage .links{color: #FFF; font-size: 0.9rem;}
.homepage .links a{color: #FFF; font-size: 0.9rem;}
.homepage .cta-area{padding: 0px 30px;}
.homepage .cta-area a{background-color: #FFC312; font-family: 'Russo One', sans-serif; color: #000; font-size: 1.3	rem; border: 5px solid #000; border-radius: 8px; padding-top: 8px; padding-bottom: 8px;display: block; width: 100%; position: relative;}
.homepage .cta-area a:after{content: ""; border-radius: 8px; border-top: 5px solid rgba(255,255,255,0.5); position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;}

.auth-area{background-image: url(../images/top-frame.jpg); background-repeat: no-repeat; background-position: top center; min-height: 100%;}
.auth-area .card{border: 0px; background-color: transparent;}
.auth-area .card .card-body{border: 0px;}
.auth-area .card .card-body .links{font-size: 0.9rem;}
.auth-area .card .card-body .links a{color: #000;}
.auth-area .card .card-body .form-group label{font-size: 12px;}
.auth-area .card .card-body .cta-area{margin-top: 20px; text-align: center;}
.auth-area .card .card-body .cta-area button{background-color: #FFC312; font-family: 'Russo One', sans-serif; color: #000; font-size: 1.3	rem; border: 5px solid #000; border-radius: 8px; padding-top: 8px; padding-bottom: 8px;display: block; width: 100%; position: relative;}  
.auth-area .card .card-body .cta-area button:after{content: ""; border-radius: 8px; border-top: 5px solid rgba(255,255,255,0.5); position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;}
.auth-area a{color: #FFF; text-decoration: underline;}

.login-area{background-color: #ED1B2F; min-height: 100%;}
.login-area .card{border: 0px; background-color: transparent;}
.login-area .card h1{color: #FFF;}
.login-area .card .text-info{color: #FFF !important; font-size: 0.9rem;}
.login-area .card .card-body{border: 0px;}
.login-area .card .card-body .links{font-size: 0.9rem;}
.login-area .card .card-body .links a{color: #000;}
.login-area .card .card-body label{color: #FFF;}
.login-area .card .card-body .form-group label{font-size: 12px;}
.login-area .card .card-body .cta-area{margin-top: 20px; text-align: center;}
.login-area .card .card-body .cta-area{color: #FFF;}
.login-area .card .card-body .cta-area button{background-color: #FFC312; font-family: 'Russo One', sans-serif; color: #000; font-size: 1.3	rem; border: 5px solid #000; border-radius: 8px; padding-top: 8px; padding-bottom: 8px;display: block; width: 100%; position: relative;}  
.login-area .card .card-body .cta-area button:after{content: ""; border-radius: 8px; border-top: 5px solid rgba(255,255,255,0.5); position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;}
.login-area a{color: #FFF; text-decoration: underline;}
.login-text-info{color: #FFF}

.dashboard{ background-color: #ea2117;}
.dashboard h1{color: #FFF; text-transform: capitalize; margin-bottom: 30px;}
.dashboard .badge{background-color: #FFF; border: 3px solid #000; border-radius: 25px; color: #000000; font-family: 'Russo One', sans-serif; font-weight: 300; font-size: 1rem; padding: 4px 10px 3px 5px; position: relative;}
.dashboard .badge-area .badge{margin-left: 5px;}
.dashboard .badge-area .badge:first-child{padding-left: 30px; padding-right: 20px; margin-left: 0px;}
.dashboard .badge img.small-badge{max-width: 30px; padding-right: 10px; margin-top: -1px;}
.dashboard .badge img.medium-badge{max-width: 45px; padding-right: 10px; position: absolute; left: -10px; top: -5px;}
.dashboard .badge img.medium-badge-right{max-width: 25px; position: absolute; right: -10px; top: 0px;}
.dashboard .rider-image{text-align: center; margin-bottom: 5px;}
.dashboard .rider-image .photo img{max-width: 150px;}
.dashboard .rider-image .name{color: #FFF; text-align: center; font-size: 1.5rem; text-transform: capitalize; font-family: 'Montserrat';}

.add-life{background-color: #ea2117; min-height: 100%;}
