.grid {
    max-width: 620px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    /*IE*/
    -webkit-box-pack: center;
    justify-content: center;
}

.carde {
    position: relative;
    cursor: pointer;
    margin: 5px;
}

.carde,
.front,
.back {
    height: 80px;
    width: 80px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 16px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    background: #1E3746;
    overflow: hidden;
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: #64D7D7;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.selected {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.match {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.message {
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 1.6rem;
    letter-spacing: .05em;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .grid {
        max-width: 900px;
    }
    .carde {
        margin: 10px;
    }
    .carde,
    .front,
    .back {
        height: 125px;
        width: 125px;
    }
    .message {
        font-size: 2rem;
    }
    .reset {
        display: inline-block;
        margin: 0 0 0 2rem;
    }
}